{% extends "base_generics.html" %}

{% block content %}
<h1>hola</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <!-- Contenido de la primera columna -->
            <h2>Columna 1</h2>
            <p>Contenido de la primera columna...</p>
        </div>
        <div class="col-md-4">
            <!-- Contenido de la segunda columna -->
            <h2>Columna 2</h2>
            <p>Contenido de la segunda columna...</p>
        </div>
        <div class="col-md-4">
            <!-- Contenido de la tercera columna -->
            <h2>Columna 3</h2>
            <p>Contenido de la tercera columna...</p>
        </div>
    </div>
</div>

{% endblock %}