{% extends "base_generics.html" %}
{% block title %}<title>client detail</title>{% endblock %}
{% block content %}
<br><br><br><br><br><br><br><br>
<ul>
    <li><strong>nombre:</strong> {{ atractivo.nombre }}</li>
    <li><strong>calle:</strong> {{ atractivo.calle }}</li>
    <li><strong>numero:</strong> {{ atractivo.numero }}</li>
    
    <li><strong>descripcion:</strong> {{ atractivo.descripcion }}</li>
    <li><strong>foto:</strong></li>
    <img src="{{ atractivo.foto.url }}" alt="{{atractivo.name}}" style="width:250px;"></img>
    <li><strong>calificacion:</strong>{{ atractivo.descripcion }}</li>
</ul>
{% endblock %}