<!DOCTYPE html>
<html lang="es">
<head>

  {% block title %}<title>paradas</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% load static %}
  <style>
    body{
      background-color: #2d928d;
    }
    .botonParada{
      fill:#ff0000;
      stroke:none;
      stroke-width:5.40018;
      stroke-opacity:1;
      paint-order:markers stroke fill
    }
    .botonParada:hover{
        fill: antiquewhite;
    }
    .paradas-container {
      display: inline-block;
      margin: 0px; 
      text-align: center; 
    }

    .paradas-container p {
      font-weight: bold;
      font-size: 30px;
      margin-top: 0px;
    }

</style>
</head>

<body>

  <div class="container-fluid">

    <div class="col-sm-10 ">
    {% block content %}{% endblock %}
    </div>

  </div>
</body>
</html>