{%extends 'base_generics.html'%}
{%load static%}

{%block content%}
<section id="services" style="display: none;" class="p-0 d-none d-lg-block d-xl-block">
    <div class="container">
        <h2 class="mb-3 text-title"><span>Excursiones</span></h2>
        <hr class="divisor-primary">
        <div class="row pt-2 mb-5" id="servicesContainer">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-md-3 mb-sm-3 mb-xs-3 text-center">
                <div class="card-body" style="text-align: center;">
                    <div class="rounded-circle d-inline-block shadow" style="width: 130px;height: 130px;background: white;">
                        <i class="fas fa-ticket-alt fa-4x text-secondary" style="line-height: 130px;"></i>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-6 col-sm-12 col-xs-12 mb-md-3 mb-sm-3 mb-xs-3">
                <p class="mt-3">Buenos Aires es reconocida mundialmente por el Tango, el Futbol y su típica comida, el Asado.</p>
                <p class="mt-3">Gray Line le ofrece la posibilidad de tomar los Tours y Excursiones más buscadas de Buenos Aires, adicionalmente a nuestro clásico City Tour, Buenos Aires City bus (Hop on Hop off).</p>
                <p class="mt-3">Disfrute de la ciudad y sus atracciones de la mano del experto local.</p>
                <p class="mt-3">Algunas de nuestras Excursiones más vendidas son:
                    </p><ul>
                        <li>City Tour Nocturno (en Bus Turístico) + Show de tango (opcional)</li>
                        <li>Combo Museos (Hop on Hop Off + Ingreso a Museos)</li>
                        <li>Combo Futbol (Hop on Hop Off + Ingresos Museos River Plate y Boca Juniors)</li>
                        <li>Navegación por el Tigre y  el Delta del Rio de la Plata</li>
                        <li>Fiestas Gauchas (Full day Estancias con almuerzo)</li>
                    </ul>
                <p></p>
                <p class="mt-3">
                    Si estás pensando en que hacer en Buenos Aires, esta es la solución.					</p>
            </div>
        </div>
    </div>
  </section>
{%endblock%}