<form method="post">
    {% csrf_token %}
    {{ viaje_form.as_p }}
  
    {{ bus_formset.management_form }}
    {% for form in bus_formset %}
      {{ form.as_p }}
    {% endfor %}
    <button id="add_bus_form">Agregar Nuevo Bus</button>
  
    {{ chofer_formset.management_form }}
    {% for form in chofer_formset %}
      {{ form.as_p }}
    {% endfor %}
    <button id="add_chofer_form">Agregar Nuevo Chofer</button>
  
    {{ recorrido_formset.management_form }}
    {% for form in recorrido_formset %}
      {{ form.as_p }}
    {% endfor %}
    <button id="add_recorrido_form">Agregar Nuevo Recorrido</button>
  
    <input type="submit" value="Guardar Viaje">
  </form>