{% extends 'base_generics.html' %}

{% block content %}
<br><br><br><br>
<ul> 
    <hr>
    infoparadas
    {%for objeto in paradas_del_recorrido %}
<ul>
  <li><strong>{{ paradaxrecorridos }}</strong>
    <hr>
    infoparadas

    <li><strong>nombre:</strong> {{ objeto.parada.nombre }}</li>
    <li><strong>calle:</strong> {{ objeto.parada.calle }}</li>
    <li><strong>numero:</strong> {{ objeto.parada.numero }}</li>
    
    <li><strong>descripcion:</strong> {{ objeto.parada.descripcion }}</li>
  <hr>
  {% endfor %}
  <hr>
  paradas
  {%for objeto in paradas_del_recorrido %}
  
  
    <li><strong>nombre:<a href="{{ objeto.parada.id }}">{{ objeto.parada.nombre }}</a></strong></li>

  {% endfor %}
</ul>
{% endblock %}