{% extends "base_generics.html" %}
{% block title %}<title>parada detail</title>{% endblock %}
{% block content %}
<br><br><br><br><br><br><br><br>
<ul>
    <li><strong>nombre:</strong> {{ parada.nombre }}</li>
    <li><strong>calle:</strong> {{ parada.calle }}</li>
    <li><strong>numero:</strong> {{ parada.numero }}</li>
    
    <li><strong>descripcion:</strong> {{ parada.descripcion }}</li>
    <li><strong>foto:</strong></li>
    <img src="{{ parada.foto.url }}" alt="{{parada.name}}" style="width:250px;"></img>
    <li><strong>atractivos:</strong></li>
   
    {%for atractivo in parada.atractivos.all %}

    <li><strong><a href="../atractivos/{{ atractivo.id }}">{{ atractivo }}</a></strong></li>
  
  {% endfor %}
</ul>
{% endblock %}