{% extends "base_generics.html" %}
{% load static %}
{% block title %}<title>parada detail</title>{% endblock %}
{% block content %}

<style>
  .limit_img {
    max-width: 300px;
    height: auto;
  }
</style>

<div class="container">
  <div class="row">
    <!-- Columna de texto en la mitad izquierda -->
    <div class="col-md-6">
      <h1>{{ parada.nombre }}</h1>
      <p>
        {{ parada.descripcion }} <br><br>
        <strong>Dirección: </strong> {{ parada.calle }} {{ parada.numero }}
      </p>
    </div>
    <!-- Columna de imagen a la derecha -->
    <div class="col-md-6">
      <img src="{{ parada.foto.url }}" alt="{{ parada.nombre }}" class="limit_img">
    </div>
  </div>
</div>
<br><br><br><br>
<div class="container">
  <div class="row">
      {% for atractivo in parada.atractivos.all %}
      <div class="col-md-4">
          <div class="card mb-4" style="width: 18rem;">
              <img src="{{ atractivo.foto.url }}" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">{{ atractivo.nombre }}</h5>
                  <p class="card-text">{{ atractivo.descripcion }}</p>
                  <a href="#" class="btn btn-primary">Más información</a>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
</div>

{% endblock %}