{%extends 'base_generics.html'%}
{%load static%}

{%block content%}
<section id="services" class="pt-5">
    <div class="container ">
        <h2 class="mb-3 text-title"><span><strong>Preguntas Frecuentes</strong></span></h2>
        <hr class="divisor-primary">
        <div class="row pt-2 mb-5 text-justify" id="servicesContainer">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-md-3 mb-sm-3 mb-xs-3">
                <p class="mt-3"></p><h4>¿Cuándo operan?</h4><p></p>
                <p class="mt-3">Todos los días, a partir de las 9.30 hs hasta las 18 hs aproximadamente con una frecuencia de 30 min.</p>
                <p class="mt-3"></p><h4>¿Puedo subir y bajar las veces que quiero?</h4><p></p>
                <p class="mt-3">Contamos con el servicio Hop on Hop off, subís y bajas del bus tanta veces como quieras y en cualquier parada.</p>
                <p class="mt-3"></p><h4>¿Cuántas vueltas puedo dar en el bus?</h4><p></p>
                <p class="mt-3">Podes dar tantas vueltas como quieras. El ticket tiene validez de 1, 2 o 3 días consecutivos en función del boleto adquirido ( 24 hs, 48hs o 72 hs).</p>
                <p class="mt-3"></p><h4>¿Se suspende por lluvia?</h4><p></p>
                <p class="mt-3">No se suspende el servicio por lluvia. El segundo piso de los ómnibus tiene una sección vidriada, lo que permite disfrutar de las vistas de la Ciudad con aire acondicionado o calefacción y en los días de lluvia.</p>
                <p class="mt-3"></p><h4>¿Se puede comprar el ticket en algún lugar que no sea la web?</h4><p></p>
                <p class="mt-3">Si claro podes comprarlo en nuestros locales: <br>
                    Arraial Travel (parada 0) Av. Roque saenz Peña 722<br>
                    Gray Line Argentina, Santa fe 808 (parada 11)<br>
                    Gray Line Argentina, Carlos Pellegrini 1191<br>
                    Planet Baires, Magallanes 874<br>
                    TBT TRAVEL, Florida 707<br>
                    O a en cualquiera de nuestros revendedores.</p>
                <div class="col-lg-12">
                    <iframe src="https://www.buenosairescitybus.com/mapa/dashboard/?action=store" width="100%" height="480"></iframe>
                </div>
                <p class="mt-3"></p><h4>¿Dónde se toma el tour?</h4><p></p>
                <p class="mt-3">El tour se puede comenzar a utilizar desde cualquier parada del recorrido, pero para su comodidad le recomendamos comenzarlo desde nuestra Parada 11 , Av. Santa Fe 808 (entre Suipacha y Esmeralda).</p>
                <p class="mt-3"></p><h4>¿Cada cuánto pasan por cada parada?</h4><p></p>
                <p class="mt-3">Contamos con una frecuencia de 30 minutos aproximadamente. Además en nuestro sitio web se puede acceder al Sistema de Posicionamiento Satelital, ya no tenés que esperar en la parada. En la solapa : <strong><a class="js-scroll-trigger" href="?controller=tracing">Seguimiento Online</a></strong> podes ver en tiempo real donde se encuentran los buses y si haces click en el número de la parada tenés el horario de la llegada del próximo bus.</p>
                <p class="mt-3"></p><h4>Tengo certificado de discapacidad ¿cómo hago para sacar el ticket gratuito con acompañante?</h4><p></p>
                <p class="mt-3">No necesitas sacar un ticket, mostrando el certificado de discapacidad (CUD) podes subir con 1 acompañante gratuitamente directamente en el bus desde cualquier parada, en caso que el certificado indique CON ACOMPAÑANTE, caso contrario solo podra subir de forma gratuita el portador del certificado.<br><strong>Acceso sujeto a disponibilidad de 2 (dos) lugares por Bus</strong></p>
                <p class="mt-3"></p><h4>¿Cuentan con descuento para jubilados?</h4><p></p>
                <p class="mt-3">Los jubilados tienen descuento comprando el ticket en nuestros locales.</p>
            </div>
        </div>
    </div>
  </section>
{%endblock%}