{% extends 'base_generics.html' %}
{% load static %}
{% block content %}

<h1>RECORRIDOS:</h1>
<form method="post" action="{% url 'paradas_por_recorrido' %}">
    {% csrf_token %}
    <label for="nombre_recorrido">Seleccione un recorrido:</label>
{% for recorrido in recorrido_list %}
        <button type="submit" name="nombre_recorrido" value="{{ recorrido.nombre }}">{{ recorrido.nombre }}</button>
    
{% endfor %}
</form>

<!-- <form method="post" action="{% url 'paradas_por_recorrido' %}">
    {% csrf_token %}
    <label for="nombre_recorrido">Seleccione un recorrido:</label>
    <button type="submit" name="nombre_recorrido" value="#FFFFFF">WHITE</button>
    <button type="submit" name="nombre_recorrido" value="#FF0000">RED</button>
    
</form> 

<li><strong>RECORRIDO:<a href="RecorridoDetalle/">{{ recorrido.hex_color }}</a> ({{ recorrido.duracionAprox }} minutos)</strong></li>
-->
{% endblock %}