<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ticket</h1>
    <p>Numero de viaje: {{ nroViaje }}</p>
    <p>Fecha: {{ fecha }}</p>
    <p>Inicio: {{ inicio }}</p>
    <p>Final: {{ final }}</p>
    <p>Numero unidad: {{ nro_unidad }}</p>
    <p>Legajo: {{ legajo }}</p>
    <p>Nombre chofer: {{ nombre }}</p>
    <p>Recorrido: {{ recorrido }}</p>
    <p>Duracion: {{ duracion }} minutos</p>
    <p>generado: {{ fechaHoy }}</p>
</body>
</html>